.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Ancho fijo por defecto */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 8px; /* Bordes redondeados para el modal */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
    margin: 0 0 20px;
}

.modal h2 {
    margin: 0 0 15px;
    font-size: 18px;
}

.modal p {
    margin-bottom: 20px;
    font-size: 16px;
}

.modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados para el botón */
}

.modal button:hover {
    background-color: #0056b3;
}

/* Media queries para hacer el modal y el resto de la página más responsivos */
@media (max-width: 768px) {
    .modal {
        width: 90%; /* Cambiar el ancho del modal a 90% en pantallas más pequeñas */
        padding: 15px; /* Reducir el padding para pantallas pequeñas */
    }

    .modal h2 {
        font-size: 16px; /* Reducir el tamaño de la fuente del título del modal */
    }

    .modal p {
        font-size: 14px; /* Reducir el tamaño de la fuente del texto del modal */
    }

    .modal button {
        width: 100%; /* Hacer que el botón use el 100% del ancho disponible */
        padding: 12px; /* Ajustar el padding del botón */
    }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
    .modal h2 {
        font-size: 14px; /* Tamaño de fuente más pequeño en dispositivos muy pequeños */
    }

    .modal p {
        font-size: 12px; /* Tamaño de fuente más pequeño en dispositivos muy pequeños */
    }

    .modal button {
        padding: 10px; /* Menos padding en el botón */
    }
}
